* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    min-height: 85px;
    height: 100%;
}

.ul {
    display: flex;
    column-gap: 72px;
    padding-top: 30px;
}

.link {
    color: #292929;
    font-weight: 500;
    font-size: 20px;
}

.logo {
    padding-top: 30px;
}

.sign-in {
    color: #000;
    padding-right: 35px;
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
}


.button {
    background: #01996D;
    border-radius: 4px;
    width: 183px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-top: 17px;
}


.center {
    max-width: 1920px;
    width: 100%;
    min-height: 1071px;
    height: 100%;
    background: linear-gradient(112.58deg, #FFFFFF 18.15%, rgba(255, 255, 255, 0) 53.07%), rgba(0, 0, 0, 0.1);
    background: url(img/fon.jpg);
}

.center__content {
    width: 440px;
    height: 384px;
    padding-top: 175px;
}

.center__title {
    font-weight: 700;
    font-size: 65px;
    color: #01996D;
}

.center__txt {
    font-weight: 400;
    font-size: 20px;
    color:#000;
    padding-top: 30px;
}

.center__button {
    width: 227px;
    height: 65px;
    background: #01996D; 
    margin-top: 18px;
    border-radius: 4px;
}

.center__button-link {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

